{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "cf-emby-proxy",
  "main": "worker.js",
  "compatibility_date": "2025-12-28",
  "compatibility_flags": [
    "nodejs_compat"
  ],
  "kv_namespaces": [
    {
      "binding": "ROUTE_MAP",
      "id": "REPLACE_WITH_YOUR_KV_NAMESPACE_ID",
      "preview_id": "REPLACE_WITH_YOUR_PREVIEW_NAMESPACE_ID"
    }
  ],
  "observability": {
    "enabled": false,
    "head_sampling_rate": 1,
    "logs": {
      "enabled": true,
      "head_sampling_rate": 1,
      "persist": true,
      "invocation_logs": true
    },
    "traces": {
      "enabled": false,
      "persist": true,
      "head_sampling_rate": 1
    }
  }
}
